h1{
    color: blue;
    text-align: center;
    padding:git
}

h2{
    border: solid 1px;
    width: 33%;
    margin: 20px;
    background-color: cornsilk;
    text-align: center;
}

textarea{
    margin: 20px;
    background-color: cornsilk;
}